*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    background: #f1f1f1;
    margin: 0;
}

.box {
    width: 90%;
    max-width: 800px;
    background: #fff;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
}

.top {
    display: flex;
    align-items: center;
    gap: 15px;
}

.photo {
    width: 70px;
    height: 70px;
    background: #ddd;
    border-radius: 50%;
    overflow: hidden;
}

.photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.text h2 {
    margin: 0;
    font-size: 20px;
}

.text p {
    margin: 3px 0;
    color: #555;
}

h3 {
    margin-top: 25px;
    font-size: 17px;
}

.row {
    background: #e8e8e8;
    padding: 10px;
    margin-top: 10px;
    border-radius: 8px;
}

.row label {
    font-size: 13px;
    color: #444;
}

.row input {
    width: 100%;
    border: none;
    margin-top: 5px;
    padding: 7px;
    background: none;
    outline: none;
}

.skills {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin-top: 10px;
}

.skills span {
    background: #dce4ff;
    padding: 5px 12px;
    border-radius: 20px;
    font-size: 13px;
}

.edu {
    background: #e8e8e8;

    padding: 10px;
    border-radius: 8px;
    margin-top: 10px;
}
.b22{
    font-size: larger;
}

button {
    margin-top: 20px;
    padding: 10px 15px;
    border: none;
    background: #3b82f6;
    color: #fff;
    border-radius: 6px;
    cursor: pointer;
}